<div class="row-offcanvas row-offcanvas-left">
  <div id="sidebar" class="sidebar-offcanvas">
      <div class="col-md-12">
        <h3>{{home.heading}}</h3>
        <div class="container">
           <br />
           <button class="btn btn-primary" ng-click="home.openRoomModal()">New Room</button>
        </div>
        <ul class="nav nav-pills nav-stacked">          
          <li ng-repeat="room in chatRooms">
              <a href="#" ng-click="home.setRoom(room)">{{room.name}}</a>
          </li>
        </ul>
      </div>
  </div>
   <div id="main" ng-show="home.currentRoom != null">
      <div class="col-md-12">
      	  <p class="visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
          </p>          
          <div class="row">
              <div class="col-md-12">
                  <div class="well message-screen">
                      <h2>{{home.currentRoom.name}}</h2> 
                      <div class="separator"></div>
                             <div ng-repeat="message in home.currentRoom.messages">
                                 <div>
                                     <span class="username">{{message.username}}</span>                                
                                     <span class="timestamp">{{ message.sentAt | date:'hh:mm a' }}</span>                            
                                 </div>
                                 <div class="message-div">{{message.content}}</div>     
                            </div>
                                                                           
                  </div>
              </div>
          </div>
          
      </div>
  </div>
</div><!--/row-offcanvas -->
  